aniso8601==1.0.0
bcrypt==2.0.0
cffi==1.6.0
Flask==0.10.1
Flask-Login==0.3.2
Flask-RESTful==0.3.3
Flask-SQLAlchemy==2.0
gunicorn==19.3.0
Jinja2==2.7.3
MarkupSafe==0.23
numpy==1.11.0
pandas==0.18.1
psycopg2==2.6
pycparser==2.14
python-dateutil==2.5.3
pytz==2015.4
six==1.9.0
SQLAlchemy==1.0.4
Werkzeug==0.10.4
