<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
      }
      body {
        overflow: auto;
      }
      .root {
        width: 100%;
        height: 100%;
      }
    </style>
    <title>Webpack App</title>
  </head>
  <body>
    <div class="root" id="root"></div>
  <script src="/static/scripts/bundle.0b5510808cc4d6b8e4dc.min.js"></script></body>
</html>
